{%extends 'base.j2'%}

{%block content%}
<div class=" mdl-grid">
    <div class=" mdl-cell--2-col"></div>
    <div class=" mdl-cell mdl-cell--8-col mdl-cell--middle">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--numeric">ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Ссылка</th>
                    <th>
                        <div class=" mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col"></div>
                            <div class="mdl-cell">
                                Загрузчик
                            </div>
                            <div class="mdl-cell mdl-cell--2-col"></div>
                        </div>
                    </th>
                    <th class="mdl-data-table__cell--numeric">
                        <div class=" mdl-grid mdl-grid--no-spacing">
                            <!-- <div class="mdl-cell mdl-cell--6-col"></div> -->
                            <div class=" mdl-layout-spacer"></div>
                            <div class="mdl-cell">
                                Действия
                            </div>
                            <div class="mdl-cell mdl-cell--2-col"></div>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>
                {%for i in los%}
                <tr>
                    <td class="mdl-data-table__cell--numeric">{{i.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="max-width: 55ch; overflow: hidden; text-overflow:ellipsis">{{i.link}}</td>
                    <td>
                        <div class=" mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col"></div>
                            <div class="mdl-cell">
                                {%if i.driver=='ytdl' %}Youtube-dl{%else%}Direct Download{%endif%}
                            </div>
                            <div class="mdl-cell mdl-cell--2-col"></div>
                        </div>
                    </td>
                    <td class="mdl-data-table__cell--numeric">
                        <button onclick="recheck_link({{i.id}})" class="mdl-button mdl-js-button mdl-button--icon">
                            <abbr title="Перепроверить ссылку">
                                <i class="material-icons">autorenew</i>
                            </abbr>
                        </button>
                        <button onclick="window.location.href='/editor/edit/{{i.id}}'"
                        class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">edit</i>
                        </button>
                        <button  class="mdl-button mdl-js-button mdl-button--icon" onclick="delete_link({{i.id}})">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class=" mdl-cell--2-col"></div>
</div>
{%endblock%}